/* HEADER STYLING */
#postHead {
  display: flex;
  background: rgb(238, 238, 238);
  border-bottom: .5px solid lightgray;
  border-top: .5px solid lightgray;
  height: 40px;
  width: 100%;
}

header #leftHeadDiv {
  display: flex;
  justify-content: left;
  width: 50%;
}

header #leftHeadDiv a {
  padding-top: 10px;
  margin-left: 5px
}

header #leftHeadDiv .navList{
  display: flex;
  margin-top: 10px;
  padding: 0
}

header #leftHeadDiv .navList .dropdown {
  margin: 0 8px;
  
}

header #leftHeadDiv .navList .dropdown select {
  font-size: 12px;
  height: 5px;
}

header #rightHeadDiv {
  display: flex;
  font-size: 14px;
  font-weight: normal;
  justify-content: right;
  padding-left: 527px;
  width: 50%;
}

header #rightHeadDiv p {
  display: inline;
  margin: 11px 0px;
}

header #rightHeadDiv #post {
  border-right: .5px solid lightgray;
  height: 20px;
  width: 50px;
}

header #rightHeadDiv #account {
  margin-left: 10px;
  margin-right: 15px;
}

header .headerLogo {
  background: white;
  border: .5px solid lightgray;
  border-radius: 50%;
  display: inline;
  font-size: 18px;
  font-weight: lighter;
  padding: 5px;
  text-decoration: none;
}

/* MAINBODY STYLING */
#postContainer {
  margin: 60px auto;
  width: 1000px;
}

#upperPostDiv {
  display: flex;
  justify-content: space-between;
}

#purpButton {
  background: rgb(231, 219, 235);
  border: .5px solid rgb(163, 105, 189);
  border-radius: 3px;
  color: rgb(102, 0, 145);
  height: 35px;
  width: 65px;
}

#innerMainDiv {
  display: flex;
}

#innerMainDiv #contentDiv {
  width: 100%;
}

#innerMainDiv ul li {
  font-size: 14px;
  list-style: disc;
}

#innerMainDiv #imgDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#innerMainDiv #imgDiv img {
  height: 300px;
  width: 300px;
}

#postInfo {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

#upperPostDiv p {
  font-size: 14px;
}

#postDetails {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  width: 500px;
}

#postDetails button {
  background: none;
  border: .5px solid lightgray;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

#postDetails p a {
  color: blue;
  text-decoration: underline;
}

#postDetails p a span {
  color: lightgray;
  margin-right: 5px;
  text-decoration: none;
}